body {
  font-family: "Finlandica", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #f8f9fa;
}
* {
  box-sizing: border-box;
}
.head-color {
  color: #43121d;
}
.paragraf-color {
  color: #777 !important;
}
nav {
  transition: all 0.5s;
}
.landing {
  background: url("../images/landing.jpg") center no-repeat;
  background-size: cover;
  min-height: 80vh;
  padding: 200px 0;
}
.landing h1,
.pride h2,
.about h2 {
  line-height: 1.4;
}
.landing p,
.pride h2,
.about h2 {
  line-height: 1.2;
}
.about-2 {
  background: url("../images/about-2.jpg") center no-repeat;
  background-size: cover;
  min-height: 300px;
}
.Baked {
  background: url("../images/backed.jpg") center no-repeat fixed;
  background-size: cover;
}
.overlay {
  top: 0;
  left: 0;
}
input:focus {
  outline: none;
}
.footer .links li:hover a {
  text-decoration: underline !important;
}
.alert {
  box-shadow: 1px -1px 5px 5px #f8f9fa;
}
.to-top {
  background-color: #43121d;
  right: -50px;
  animation: to-top 1s infinite;
  transition: all 0.5s;
}
.to-top:hover button {
  color: #f8f9fa !important;
}
.to-top button:focus {
  border: 0 !important;
}
@keyframes to-top {
  100%,
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 60px;
  }
}
@keyframes identifier {
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #dc3545;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ca4653;
}
